@{
	Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error 404 - Auction Website</title>
    <link rel="stylesheet" href="~/css/ErrorCss.css">
</head>
<body>

    <div class="404" style="font-family: 'Gilda Display', serif;">
        <span class="green" stlye="font-size:large;">if &nbsp; (<span stlye="font-size:large;" class="orange"><a asp-action="Index" class="yellow" style="text-decoration:none;font-size:large;font-weight:bold"><span class="blue">Click Here</span></em></a></span>){</span>
        <br />
        &nbsp &nbsp &nbsp &nbsp &nbsp<span style="font-weight:bold;font-size:large" class="orange">&lt;/Back to Home Page &gt;</span>
        <span stlye="font-size:large;" class="green">
            <br />
            }
        </span>
    </div>
    <div class="error">
        <div class="wrap">
            <div class="404">
                <pre><code>
                <span class="green">&lt;!</span><span>DOCTYPE html</span><span class="green">&gt;</span>
<span class="orange">&lt;html&gt;</span>
                <span class="orange">&lt;style&gt;</span>
   * {
                <span class="green">everything</span>:<span class="blue">awesome</span>;
}
                <span class="orange">&lt;/style&gt;</span>
                <span class="orange">&lt;body&gt;</span> 
              ERROR 404!
                PRODUCT NOT FOUND!
                <span class="comment">&lt;!--The product you are looking for, 
                    is not where you think it is.--&gt;
        </span>
                <span class="orange"></span> 



            </div>
            <br />
            <span class="info">
                <br />

                <span class="orange">&nbsp;&lt;/body&gt;</span>

                <br />
                <span class="orange">&lt;/html&gt;</span>
                </code></pre>
        </div>
    </div>


    </span>

</body>
</html>
