<link rel="stylesheet" href="~/assets/css/services.css">

<section class="blogImage">
	<div class="blog">
		<div class="left">
			<h1>Services</h1>
		</div>
	</div>
</section>
<br />
<br />
<section>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Why Choose Us</h2>
                <p>Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate velit imperdiet dolor tempor tristique.</p>
            </div>
        </div>
        <br />
        <br />
        <div class="row">
            <div class="col-6">
                <div class="box">
                    <div class="image">
                        <img src="https://themewagon.github.io/furni/images/truck.svg" alt="">
                        <h6>Fast & Free Shipping</h6>
                        <p>Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate.</p>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="box">
                    <div class="image">
                        <img src="https://themewagon.github.io/furni/images/bag.svg" alt="">
                        <h6>Easy to Shop</h6>
                        <p>Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate.</p>
                    </div>
                </div>
            </div>
            </div>
            <br />
            <div class="row">
            <div class="col-6">
                <div class="box">
                    <div class="image">
                        <img src="https://themewagon.github.io/furni/images/truck.svg" alt="">
                        <h6>Fast & Free Shipping</h6>
                        <p>Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate.</p>
                    </div>
                </div>
            </div>
            <div class="col-6 ">
                <div class="box">
                    <div class="image">
                        <img src="https://themewagon.github.io/furni/images/bag.svg" alt="">
                        <h6>Easy to Shop</h6>
                        <p>Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate.</p>
                    </div>
                </div>
            </div>
            </div>
            <br />

            <div class="row">
                <div class="col">
                    <div class="box">
                        <div class="image">
                            <img src="https://themewagon.github.io/furni/images/support.svg" alt="">
                            <h6>24/7 Support</h6>
                            <p>Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="box">
                        <div class="image">
                            <img src="https://themewagon.github.io/furni/images/return.svg" alt="">
                            <h6>Hassle Free Returns</h6>
                            <p>Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="box">
                        <div class="image">
                            <img src="https://themewagon.github.io/furni/images/truck.svg" alt="">
                            <h6>Fast & Free Shipping</h6>
                            <p>Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="box">
                        <div class="image">
                            <img src="https://themewagon.github.io/furni/images/bag.svg" alt="">
                            <h6>Easy to Shop</h6>
                            <p>Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate.</p>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>

<section>
	<div class="container">
		<div class="row">
			<div class="craft">
				<div class="col-md-12 col-lg-3">
					<h2>Crafted with excellent material.</h2>
					<p>Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate velit imperdiet dolor tempor tristique.</p>
					<button class="btn btn-primary">Explore</button>

				</div>
				<div class="col-lg-3 col-md-4">
					<div class="card-1 card">
						<img class="product-image" src="https://themewagon.github.io/furni/images/product-1.png" alt="">
						<button class="add-to-cart">Add to cart</button>
						<span class="product-price">$1395</span>
					</div>
				</div>
				<div class="col-lg-3 col-md-4">
					<div class="card-2 card">
						<img class="product-image" src="https://themewagon.github.io/furni/images/product-2.png" alt="">
						<button class="add-to-cart">Add to cart</button>
						<span class="product-price">$1175</span>
					</div>
				</div>
				<div class="col-lg-3 col-md-4">
					<div class="card-3 card">
						<img class="product-image" src="https://themewagon.github.io/furni/images/product-3.png" alt="">
						<button class="add-to-cart">Add to cart</button>
						<span class="product-price">$1150</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>