<link rel="stylesheet" href="~/assets/css/about.css">
<section class="blogImage">
    <div class="blog">
        <div class="left">
            <h1>About</h1>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="choose">
                <div class="col-lg-6">
                    <h2>Why Choose Us</h2>
                    <p>Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate velit imperdiet dolor tempor tristique.</p>
                    <div class="part1">
                        <div class="box">
                            <div class="image">
                                <img src="	https://themewagon.github.io/furni/images/truck.svg" alt="">
                                <h6>Fast & Free Shipping</h6>
                                <p>Enjoy fast and free shipping on all orders, ensuring your furniture arrives promptly and without extra cost.</p>
                            </div>
                        </div>
                        <div class="box">
                            <div class="image">
                                <img src="	https://themewagon.github.io/furni/images/bag.svg" alt="">
                                <h6>Easy to Shop</h6>
                                <p>With an easy-to-navigate website, shopping for your perfect piece of furniture has never been simpler.</p>
                            </div>
                        </div>
                    </div>
                    <div class="part2">
                        <div class="box">
                            <div class="image">
                                <img src="https://themewagon.github.io/furni/images/support.svg" alt="">
                                <h6>24/7 Support</h6>
                                <p>Our dedicated support team is available 24/7 to assist you with any inquiries or concerns, providing you with peace of mind throughout your shopping experience.</p>
                            </div>
                        </div>
                        <div class="box">
                            <div class="image">
                                <img src="	https://themewagon.github.io/furni/images/return.svg" alt="">
                                <h6>Hassle Free Returns</h6>
                                <p>Experience hassle-free returns with our straightforward process, ensuring that your satisfaction remains our top priority.</p>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="col-lg-6">
                    <div class="rightImg">
                        <img src="https://themewagon.github.io/furni/images/why-choose-us-img.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<section>
    <div class="container">
        <div class="row">
            <div class="teams">
                <h1>Our Team</h1>
                <div class="people">
                    <div class="col-6 col-lg-3 col-md-6">
                        <div class="image">
                            <img src="	https://themewagon.github.io/furni/images/person_1.jpg" alt="">
                        </div>
                        <div class="about">
                            <h2>Lawson Arnold</h2>
                            <span>CEO, Founder, Atty.</span><br><br>
                            <p>Separated they live in. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                            <a href="https://www.linkedin.com/in/natalie-lawson-arnold-06495519/">Go Linkedin Profile</a>
                        </div>

                    </div>
                    <div class="col-6 col-lg-3 col-md-6">
                        <div class="image">
                            <img src="https://themewagon.github.io/furni/images/person_2.jpg" alt="">
                        </div>
                        <div class="about">
                            <h2>Jeremy Walker</h2>
                            <span>CTO, Chief Technology Officer.</span><br><br>
                            <p>
                                Jeremy Walker is the visionary leader responsible for the technological direction and innovation within the company.
                            </p>
                            <a href="https://www.linkedin.com/in/jeremy-walker-6715b413b/">Go Linkedin Profile</a>
                        </div>

                    </div>
                    <div class="col-6 col-lg-3 col-md-6">
                        <div class="image">
                            <img src="https://themewagon.github.io/furni/images/person_3.jpg" alt="">
                        </div>
                        <div class="about">
                            <h2>Patrik White</h2>
                            <span>CMO, Chief Marketing Officer</span><br><br>
                            <p> Patrik White plays a pivotal role in shaping the brand's image and driving its growth.</p>
                            <a href="https://www.linkedin.com/in/browneyedpat/">Go Linkedin Profile</a>
                        </div>

                    </div>
                    <div class="col-6 col-lg-3 col-md-6">
                        <div class="image">
                            <img src="https://themewagon.github.io/furni/images/person_4.jpg" alt="">
                        </div>
                        <div class="about">
                            <h2>Kathryn Ryan</h2>
                            <span>COO, Chief Operations Officer.</span><br><br>
                            <p>Separated they live in. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                            <a href="https://www.linkedin.com/in/kathryn-ryan-759690220/">Go Linkedin Profile</a>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</section>