@using AmadoApp.Core.Entities
@model Category

<div class="container">
    <h3>Category Name</h3>
    <h4>@Model.Name</h4>

    <a asp-controller="Category" asp-action="Table" class="btn btn-secondary mt-5">Cancel</a>
</div>