@using AmadoApp.Core.Entities

<div class="shop_sidebar_area">
    <section class="blogImage">
        <div class="blog">
            <div class="left">
                <h1>Shop</h1>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row">

                @await Component.InvokeAsync("Product", 1)

            </div>
        </div>
    </section>
        <div class="row">
            <div class="col-12">
                <!-- Pagination -->
                <nav aria-label="navigation">
                    <ul class="pagination justify-content-end mt-50">
                        <li class="page-item active"><a class="page-link" href="#">01.</a></li>
                        <li class="page-item"><a class="page-link" href="#">02.</a></li>
                        <li class="page-item"><a class="page-link" href="#">03.</a></li>
                        <li class="page-item"><a class="page-link" href="#">04.</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>

