@using AmadoApp.Core.Entities
@model Brand

<div class="container">
    <h3>Brand Name</h3>
    <h4>@Model.Name</h4>

    <a asp-controller="Brand" asp-action="Table" class="btn btn-secondary mt-5">Cancel</a>

</div>