body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .navbar {
    background: #3b5d50;
    padding: 15px;
    text-align: center;
  }
  
  .navbar a {
    color: white;
    text-decoration: none;
    padding: 15px;
    display: inline-block;
  }
  
  .navbar a:hover {
    border-bottom: 4px solid #f9bf29;
  }
  
  .navbar .logo {
    font-size: 24px;
    font-weight: bold;
    color: white;
  }
  
  .navbar .menu {
    display: none;
    cursor: pointer;
    font-size: 18px;
    float: right;
    color: white;
  }
  
  @media screen and (max-width: 600px) {
    .navbar a {
      display: none;
    }
  
    .navbar .menu {
      display: block;
    }
  
    .navbar.responsive a {
      display: block;
      text-align: left;
    }
    .navbar {
      flex-direction: column;
    }
    .basket-icon {
      display: none;
    }
  }
  .basket-icon {
    font-size: 25px;
  }

  
.blog h1 {
    color: white;
    font-weight: 600;
  }
  .blog p {
    color: rgba(255, 255, 255, 0.5);
  }
  .blog .second {
    background-color: #3b5d50;
    color: white;
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-radius: 20px;
  }
  
  .blog .second:hover {
    background-color: #3b5d50;
    border-color: white;
  }
  .blog .first {
    color: black;
    background-color: #f9bf29;
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-radius: 20px;
  }
  .blog {
    display: flex;
    background-color: #3b5d50;
  }
  .blog img {
    width: 100%;
  }
  .blog .left {
    margin-top: 100px;
    margin-left: 30px;
  }
  
  @media screen and (min-width: 1200px) {
    .blog img {
      left: 0px;
      top: -80px;
      right: -100px;
    }
  }
  @media screen and (max-width: 600px) {
    .blog {
      flex-direction: column;
    }
    .blog .right {
      margin-top: 30px;
    }
  }
  
  * {
    overflow-x: hidden;
  }

  
.choose{
    margin-top: 150px;

}
.choose .box{
    width: 50%;
    overflow: hidden;
    margin-top: 60px;


}

.choose .box p{
    color: gray;
}
.choose .box h6{
    width: 100%;
}
.choose .part1{
    display: flex;
    
}
.choose .part2{
    display: flex;
}


@media screen and (max-width: 600px) {
    .choose{
        flex-direction: column;
    }
}    
.craft{
    margin-top: 100px;
    display: flex;
}
.craft h2{
    color: #2f2f2f;
}
.craft p{
    color: gray;
}
.craft button{
    background-color: #212529;
    border-color: black;
    font-size: 20px;
    border-radius: 13px
}
.craft button:hover{
    background-color: #3b5d50;
    border-color: #3b5d50;
}
.craft .image img{
    width: 100%;
    transition: .3s all ease;
  
}
.craft .image img:hover{
    transform: translate(-10%, -10%);
}

.craft .price{
    text-align: center;
    font-weight: 600;
}
.craft .price h6{
    font-weight: 600;
}
.craft .plus{
    text-align: center;
    margin-top: 50px;
}
.craft .plus a{
    text-decoration: none;
   color: black;
}
.craft .plus i{
    align-items: center;
    font-size: 30px;
    overflow-y: hidden;
}
@media screen and (max-width: 600px) {
.craft{
    flex-direction: column;
}

}


.subscribe .fa-envelope{
    font-size: 25px;
    color: gray;
  }
  .subscribe .letter{
    display: flex;
    gap: 10px;
  }
  .letter{
    margin-left: 20px;
  }
  .letter p{
    font-size: 18px;
    font-weight: 500;
    color: #3b5d50;
  }
  .subscribe .box{
    display: flex;
    gap: 15px;
  }
  .inputs {
  display: flex;
  border-radius: 12px;
  
  }
  .inputs input{
    margin-left: 20px;
    height: 60px;
  }
  .subscribe .box i{
    font-size: 25px;
    background-color: #3b5d50;
    color: white;
    padding: 20px;
    border-radius: 10px;
  }
  
  .sofa-image img{
    width: 100%;
  }
  .subscribe .left{
    margin-top: 100px;
  }
  

  .footer{
    display: flex;
  }
  .footer h1{
    color: #3b5d50;
  }
  .footer p{
    color: gray;
  }
  .footer .left a{
    text-decoration: none;
    color: #3b5d50;
    background-color: #dce5e4;
    font-size: 30px;
    padding: 6px;
    margin-left: 10px;
  }
  .footer .left{
    width: 300px
  }
  .footer .right ul{
  margin-left: 40px;
  margin-top: 30px;
  
  }
  .footer ul li{
    margin-top: 20px;
  }
  .footer .right{
    display: flex;
  
  }
  .footer .social a{ 
   border-radius: 20px;
  }
  .social i{
    overflow: hidden;
  }
  .down{
    display: flex;
    justify-content: space-between;
  }
  .down ul{
    display: flex;
    gap: 10px;
  }
  
  @media screen and (max-width: 600px) {
  .footer{
    flex-direction: column;
  }
  .footer .right {
  flex-direction: column;
  }
  .parts .part1{
  margin-left: 20px;
  }
    }    