<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" rel="stylesheet">
<link href="~/assets/css/Card.css" rel="stylesheet">
<link rel="stylesheet" href="~/assets/css/services.css">
@using AmadoApp.Core.Entities
@model IQueryable<Product>
@{
	var changer = ViewBag.Changer;
}



<div class="container mt-3">
    <div class="row">
        <div class="col-md-12">
            <button class="btn btn-primary" onclick="toggleForm()">Price Filter</button>
            <form id="priceFilterForm" style="display: none;" onsubmit="event.preventDefault(); applyPriceFilter()">
                <div class="row mt-3">
                    <div class="col-md-6">
                        <input type="number" class="form-control" placeholder="Min Price" name="minPrice" id="minPrice">
                    </div>
                    <div class="col-md-6">
                        <input type="number" class="form-control" placeholder="Max Price" name="maxPrice" id="maxPrice">
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-success">Apply Filter</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<section>
    <div class="container mt-5">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-3 mb-4">
                    <!-- Aralık eklenmiş burası -->
                    <div class="card-sl">
                        <div class="card-image">
                            <img src="~/Upload/ProductImages/@item.ProductImages.FirstOrDefault().ImageUrl" alt="">
                        </div>

                        <a class="card-action" asp-route-id="@item.Id" asp-action="ProductSingle" asp-controller="Shop"><i class="fa fa-long-arrow-right"></i></a>
                        <div class="card-heading">
                            @item.Title
                        </div>
                        <div class="card-text">
                            In Stock: @if (item.IsInStock == true)
                            {
                                <i class="fa fa-check" aria-hidden="true"></i>
                            }
                            else
                            {
                                <i class="fa fa-close"></i>
                            }
                        </div>
                        <div class="card-text">
                            $@item.Price
                        </div>
                        <a href="#" class="card-button"> Details</a>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
<script>
    function toggleForm() {
        var form = document.getElementById('priceFilterForm');
        if (form.style.display === 'none') {
            form.style.display = 'block';
        } else {
            form.style.display = 'none';
        }
    }
</script>
<script>
    function applyPriceFilter() {
        var minPrice = document.getElementById('minPrice').value;
        var maxPrice = document.getElementById('maxPrice').value;
    }
</script>