@using AmadoApp.Business.ViewModels.PageVMs;
@model HomeVM

<section id="products">
    <div class="container">
        <div class="row">
            <div class="craft" style="display:flex;justify-content:center;position:relative">
                @foreach (var item in Model.Products.Take(3).ToList())
                {
                    <div class="col-md-3 mb-4">
                        <!-- Aralık eklenmiş burası -->
                        <div class="card-sl card">
                            <div class="card-image product-image">
                                <img src="~/Upload/ProductImages/@item.ProductImages.FirstOrDefault().ImageUrl" alt="">
                            </div>


                            <div class="card-heading">
                                @item.Title
                                <a class="card-action" style="z-index:1" asp-route-id="@item.Id" asp-action="ProductSingle" asp-controller="Shop"><i class="fa fa-long-arrow-right"></i></a>
                            </div>
                            <div class="card-text">
                                In Stock: @if (item.IsInStock == true)
                                {
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                }
                                else
                                {
                                    <i class="fa fa-close"></i>
                                }
                            </div>
                            <div class="card-text product-price">
                                $@item.Price
                            </div>

                            @if (item.IsInStock == true)
                            {
                                <a class="card-button add-to-cart" style="text-decoration: none;"
                                asp-action="AddItem" asp-controller="Basket" asp-route-id="@item.Id">Add To Cart</a>
                            }

                            else
                            {
                                <a class="card-button add-to-cart notstock" style="pointer-events:none;">
                                    <span style="font-weight:bold">
                                        NOT IN STOCK
                                    </span>
                                </a>
                            }
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="choose">
                <div class="col-lg-6">
                    <h2>Why Choose Us</h2>
                    <p>Because we offer fast and free shipping, easy shopping, 24/7 support, and hassle-free returns, ensuring a seamless and satisfying furniture shopping experience.</p>
                    <div class="part1">
                        <div class="box">
                            <div class="image">
                                <img src="	https://themewagon.github.io/furni/images/truck.svg" alt="">
                                <h6>Fast & Free Shipping</h6>
                                <p>Enjoy fast and free shipping on all orders, ensuring your furniture arrives promptly and without extra cost.</p>
                            </div>
                        </div>
                        <div class="box">
                            <div class="image">
                                <img src="	https://themewagon.github.io/furni/images/bag.svg" alt="">
                                <h6>Easy to Shop</h6>
                                <p>With an easy-to-navigate website, shopping for your perfect piece of furniture has never been simpler.</p>
                            </div>
                        </div>
                    </div>
                    <div class="part2">
                        <div class="box">
                            <div class="image">
                                <img src="https://themewagon.github.io/furni/images/support.svg" alt="">
                                <h6>24/7 Support</h6>
                                <p>Our dedicated support team is available 24/7 to assist you with any inquiries or concerns, providing you with peace of mind throughout your shopping experience.</p>
                            </div>
                        </div>
                        <div class="box">
                            <div class="image">
                                <img src="	https://themewagon.github.io/furni/images/return.svg" alt="">
                                <h6>Hassle Free Returns</h6>
                                <p>Experience hassle-free returns with our straightforward process, ensuring that your satisfaction remains our top priority.</p>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="col-lg-6">
                    <div class="rightImg">
                        <img src="https://themewagon.github.io/furni/images/why-choose-us-img.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<section>
    <div class="design">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="image-grid">
                        <img class="image-item first" src="https://themewagon.github.io/furni/images/img-grid-1.jpg" alt="Image 1">
                        <img class="image-item second" src="	https://themewagon.github.io/furni/images/img-grid-2.jpg" alt="Image 2">
                        <img class="image-item third" src="https://themewagon.github.io/furni/images/img-grid-3.jpg" alt="Image 3">

                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="right">
                        <h2>We Help You Design Your Home</h2>
                        <p class="txt">
                            "Transforming your vision into reality, our team at Furni Website is dedicated to helping you design your dream home. We offer comprehensive support across four key areas:
                        </p>
                        <div class="up">
                            <div class="first">

                                <p> <i class="fa-solid fa-circle-dot"></i>Personalized Consultation: Our expert design consultants are here to understand your unique style preferences, space requirements, and budget constraints.</p>
                            </div>
                            <div class="second">
                                <p> <i class="fa-solid fa-circle-dot"></i>Virtual Design Tools: Explore endless design possibilities with our user-friendly virtual design tools.</p>
                            </div>
                        </div>
                        <div class="down">
                            <div class="first">
                                <p> <i class="fa-solid fa-circle-dot"></i>Curated Collections: Discover curated furniture collections curated by our team of interior designers. </p>
                            </div>
                            <div class="second">
                                <p> <i class="fa-solid fa-circle-dot"></i>Design Inspiration: Dive into a world of design inspiration with our curated content library.</p>
                            </div>
                        </div>
                        <a type="button" asp-action="Index" asp-controller="About" class="btn second btn-success btn-lg">Explore</a>

                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<hr />
<section>

    <div class="conatiner">
        <div class="row">
            <div class="chairs">
                <div class="col-lg-4 col-md-6">
                    <div class="nordic">
                        <div class="img">
                            <img src="	https://themewagon.github.io/furni/images/product-1.png" alt="">
                        </div>
                        <div class="about">
                            <p class="first">Nordic Chair</p>
                            <p class="second">The Nordic Chair epitomizes the essence of Scandinavian design, blending minimalist aesthetics with functionality and comfort.</p>
                            <a asp-action="ShopList" asp-controller="Shop">Go To Shop</a>
                        </div>

                    </div>

                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="nordic">
                        <div class="img">
                            <img src="https://themewagon.github.io/furni/images/product-3.png" alt="">
                        </div>
                        <div class="about">
                            <p class="first">Kruzo Aero Chair</p>
                            <p class="second">The Kruzo Aero Chair embodies modern sophistication with its sleek design and ergonomic features</p>
                            <a asp-action="ShopList" asp-controller="Shop">Go To Shop</a>
                        </div>

                    </div>

                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="nordic">
                        <div class="img">
                            <img src="https://themewagon.github.io/furni/images/product-2.png" alt="">
                        </div>
                        <div class="about">
                            <p class="first">
                                Ergonomic Chair
                            </p>
                            <p class="second">
                                The Ergonomic Chair is engineered to provide optimal comfort and support, promoting healthy posture and reducing strain during long periods of sitting.
                            </p>
                            <a asp-action="ShopList" asp-controller="Shop">Go To Shop</a>
                        </div>

                    </div>

                </div>
            </div>


        </div>
    </div>

</section>
<section>
    <div class="container">
        <div class="row">
            <div class="recentBlog">
                <h2>Recent Blog</h2>
                <div class="part1">
                    <div class="col-md-4 col-sm-6">
                        <div class="box">
                            <div class="img">
                                <a asp-action="Index" asp-controller="Blog"><img src="https://themewagon.github.io/furni/images/post-1.jpg" alt=""></a>
                            </div>

                            <p><b>First Time Home Owner</b></p>
                            <h6>by <b>Kristin Watson</b> on <b>Dec 19, 2021</b></h6>

                        </div>
                    </div>
                    <div class=" col-md-4 col-sm-6">
                        <div class="box">
                            <div class="img">
                                <a asp-action="Index" asp-controller="Blog"><img src="	https://themewagon.github.io/furni/images/post-2.jpg" alt=""></a>
                            </div>
                            <p><b>How To Keep Your Furniture </b></p>
                            <h6>by <b>Kristin Watson</b> on <b>Dec 19, 2021</b></h6>

                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="box">
                            <div class="img">
                                <a asp-action="Index" asp-controller="Blog"><img src="	https://themewagon.github.io/furni/images/post-3.jpg" alt=""></a>
                            </div>

                            <p><b>Small Space Furniture  </b></p>
                            <h6>by <b>Kristin Watson</b> on <b>Dec 19, 2021</b></h6>

                        </div>
                    </div>
                </div>


            </div>
        </div>

    </div>


</section>

<script>
    window.onload = function () {
        window.location.hash = '#products';
    };
</script>