@model AmadoApp.Core.Entities.Product
<section>
    <div class="container">
        <div class="row">
            <div class="craft">
                <div class="col-md-12 col-lg-3">
                    <h2>Crafted with excellent material.</h2>
                    <p>Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate velit imperdiet dolor tempor tristique.</p>
                    <button class="btn btn-primary">Explore</button>

                </div>
                <div class="col-lg-3 col-md-4">
                    <div class="card-1 card">
                        <img class="product-image" src="https://themewagon.github.io/furni/images/product-1.png" alt="">
                        <button class="add-to-cart" style="color:wheat">Add to cart</button>
                        <span class="product-price">$1395</span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4">
                    <div class="card-2 card">
                        <img class="product-image" src="https://themewagon.github.io/furni/images/product-2.png" alt="">
                        <button class="add-to-cart" style="color:wheat">Add to cart</button>
                        <span class="product-price">$1175</span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4">
                    <div class="card-3 card">
                        <img class="product-image" src="https://themewagon.github.io/furni/images/product-3.png" alt="">
                        <button class="add-to-cart" style="color:wheat">Add to cart</button>
                        <span class="product-price">$1150</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="choose">
                <div class="col-lg-6">
                    <h2>Why Choose Us</h2>
                    <p>Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate velit imperdiet dolor tempor tristique.</p>
                    <div class="part1">
                        <div class="box">
                            <div class="image">
                                <img src="	https://themewagon.github.io/furni/images/truck.svg" alt="">
                                <h6>Fast & Free Shipping</h6>
                                <p>Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate.</p>
                            </div>
                        </div>
                        <div class="box">
                            <div class="image">
                                <img src="	https://themewagon.github.io/furni/images/bag.svg" alt="">
                                <h6>Easy to Shop</h6>
                                <p>Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate.</p>
                            </div>
                        </div>
                    </div>
                    <div class="part2">
                        <div class="box">
                            <div class="image">
                                <img src="https://themewagon.github.io/furni/images/support.svg" alt="">
                                <h6>24/7 Support</h6>
                                <p>Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate.</p>
                            </div>
                        </div>
                        <div class="box">
                            <div class="image">
                                <img src="	https://themewagon.github.io/furni/images/return.svg" alt="">
                                <h6>Hassle Free Returns</h6>
                                <p>Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate.</p>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="col-lg-6">
                    <div class="rightImg">
                        <img src="https://themewagon.github.io/furni/images/why-choose-us-img.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<section>
    <div class="design">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="image-grid">
                        <img class="image-item first" src="https://themewagon.github.io/furni/images/img-grid-1.jpg" alt="Image 1">
                        <img class="image-item second" src="	https://themewagon.github.io/furni/images/img-grid-2.jpg" alt="Image 2">
                        <img class="image-item third" src="https://themewagon.github.io/furni/images/img-grid-3.jpg" alt="Image 3">

                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="right">
                        <h2>We Help You Make Modern Interior Design</h2>
                        <p class="txt">Donec facilisis quam ut purus rutrum lobortis. Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate velit imperdiet dolor tempor tristique. Pellentesque habitant morbi tristique senectus et netus et malesuada</p>
                        <div class="up">
                            <div class="first">

                                <p> <i class="fa-solid fa-circle-dot"></i>Donec vitae odio quis Lorem ipsum dolor sit amet  nisl dapibus malesuada</p>
                            </div>
                            <div class="second">
                                <p> <i class="fa-solid fa-circle-dot"></i>Donec vitae odio quis Lorem ipsum dolor sit amet consectetur. nisl dapibus malesuada</p>
                            </div>
                        </div>
                        <div class="down">
                            <div class="first">
                                <p> <i class="fa-solid fa-circle-dot"></i>Donec vitae odio Lorem ipsum dolor sit amet consectetur. quis nisl dapibus malesuada</p>
                            </div>
                            <div class="second">
                                <p> <i class="fa-solid fa-circle-dot"></i>Donec vitae odio Lorem ipsum dolor sit amet consectetur. quis nisl dapibus malesuada</p>
                            </div>
                        </div>
                        <button type="button" class="btn second btn-secondary btn-lg">Explore</button>

                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<hr />
<section>

    <div class="conatiner">
        <div class="row">
            <div class="chairs">
                <div class="col-lg-4 col-md-6">
                    <div class="nordic">
                        <div class="img">
                            <img src="	https://themewagon.github.io/furni/images/product-1.png" alt="">
                        </div>
                        <div class="about">
                            <p class="first">Nordic Chair</p>
                            <p class="second">Donec facilisis quam ut purus rutrum lobortis. Donec vitae odio</p>
                            <a href="">Read More</a>
                        </div>

                    </div>

                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="nordic">
                        <div class="img">
                            <img src="https://themewagon.github.io/furni/images/product-3.png" alt="">
                        </div>
                        <div class="about">
                            <p class="first">Kruzo Aero Chair</p>
                            <p class="second">Donec facilisis quam ut purus rutrum lobortis. Donec vitae odio</p>
                            <a href="">Read More</a>
                        </div>

                    </div>

                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="nordic">
                        <div class="img">
                            <img src="https://themewagon.github.io/furni/images/product-2.png" alt="">
                        </div>
                        <div class="about">
                            <p class="first">
                                Ergonomic Chair
                            </p>
                            <p class="second">Donec facilisis quam ut purus rutrum lobortis. Donec vitae odio</p>
                            <a href="">Read More</a>
                        </div>

                    </div>

                </div>
            </div>


        </div>
    </div>

</section>
<section>
    <div class="container">
        <div class="row">
            <div class="recentBlog">
                <h2>Recent Blog</h2>
                <div class="part1">
                    <div class="col-md-4 col-sm-6">
                        <div class="box">
                            <div class="img">
                                <a href=""><img src="https://themewagon.github.io/furni/images/post-1.jpg" alt=""></a>
                            </div>

                            <p><b>First Time Home Owner</b></p>
                            <h6>by <b>Kristin Watson</b> on <b>Dec 19, 2021</b></h6>

                        </div>
                    </div>
                    <div class=" col-md-4 col-sm-6">
                        <div class="box">
                            <div class="img">
                                <a href=""><img src="	https://themewagon.github.io/furni/images/post-2.jpg" alt=""></a>
                            </div>
                            <p><b>How To Keep Your Furniture </b></p>
                            <h6>by <b>Kristin Watson</b> on <b>Dec 19, 2021</b></h6>

                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="box">
                            <div class="img">
                                <a href=""><img src="	https://themewagon.github.io/furni/images/post-3.jpg" alt=""></a>
                            </div>

                            <p><b>Small Space Furniture  </b></p>
                            <h6>by <b>Kristin Watson</b> on <b>Dec 19, 2021</b></h6>

                        </div>
                    </div>
                </div>


            </div>
        </div>

    </div>


</section>