<h2>Create Auction</h2>


<form method="post">

	<div class="form-group">
		<label>
			Title
		</label>
		<input class="form-control" name="Title" />
	</div>

	<br />
	<hr />

	<div class="form-group">
		<label>
			Description
		</label>
		<input class="form-control" name="Description" />
	</div>

	<br />
	<hr />

	<div class="form-group">
		<label>
			Actual Price
		</label>
		<input class="form-control" name="ActualPrice" />
	</div>

	<br />
	<hr />

	<div class="form-group">
		<label>
			Starting Time
		</label>
		<input class="form-control" type="date" name="StartingTime" />
	</div>

	<br />
	<hr />

	<div class="form-group">
		<label>
			Ending Time
		</label>
		<input class="form-control" type="date" name="EndingTime" />
	</div>

	<br />
	<hr />

	<div class="form-group">
		<label>
			Photo
		</label>
		<input class="form-control" name="PictureURL" />
	</div>

	<hr />
	<button class="btn btn-success">
		Save
	</button>
	<a class="btn btn-danger" asp-action="Index">Back to All Auctions</a>
</form>