<h2>Create Auction</h2>


<form id="createForm" method="post" action="Auctions/Create/">

	<label>
		Title
	</label>
	<input name="Title" />

	<br />

	<label>
		Description
	</label>
	<input name="Description" />

	<br />

	<label>
		ActualPrice
	</label>
	<input name="ActualPrice" />

	<br />

	<label>
		StartingTime
	</label>
	<input type="date" name="StartingTime" />

	<br />

	<label>
		EndingTime
	</label>
	<input type="date" name="EndingTime" />

	<br />
	<label>
		Photo
	</label>
	<input name="PictureURL" />

	<button type="button" id="saveButton">
		Save
	</button>
</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> <!-- Include jQuery library if not already included -->
@section Scripts{
	<script>
		$(document).ready(function () { // Ensure the DOM is fully loaded before attaching event handlers
			$("#saveButton").click(function () { // Corrected selector
				$.ajax({
					url: "@Url.Action("Create"), // Corrected URL
					datatype: "json",
					method: "post",
					data: $("#createForm").serialize()
				}).done(function (response) {
					debugger;
					$("#listingArea").html(response);
				}).fail(function () { });
			});
		});
	</script>
}
