<h2>Create Auction</h2>


<form method="post">

	<label>
		Title
	</label>
	<input name="Title" />

	<br />

	<label>
		Description
	</label>
	<input name="Description"/>

	<br />

	<label>
		ActualPrice
	</label>
	<input name="ActualPrice" />

	<br />

	<label>
		StartingTime
	</label>
	<input type="date" name="StartingTime" />

	<br />

	<label>
		EndingTime
	</label>
	<input type="date" name="EndingTime" />

	<br />
	<label>
		Photo
	</label>
	<input name="PictureURL" />
	<button>
		Save
	</button>
</form>